body {
    margin: auto;
    padding: 2rem;
  }
  .button {
    background-color: #a742c4;
    font-size: 15px;
    font-weight: 500;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24), 0 15px 40px 0 rgba(0,0,0,0.19);
  }
  button:active {
    transform: translateY(-3px);
  }
  
  
  